.outbound-link {
    color: #6875D9;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 20px;

    svg {
        font-size: 22px;
    }

    @media (min-width: 1024px) {
        font-size: 20px;

        svg {
            font-size: 18px;
        }
    }
}

.outbound-link-small {
    font-size: 12px;
    gap: 10px;

    svg {
        font-size: 16px;
    }

    @media (min-width: 1024px) {
        font-size: 16px;

        svg {
            font-size: 14px;
        }
    }
}